page-about {

  .banner {

    .background {
      opacity: 0.7; //70%
    }
    .avatar {
      height: 120px;

      border-radius: 50%;
      border-width: 2px;
      border-color: black;
      border-style: solid;

    }
  }
  .headline {

  }

  ion-slides {

  }

}
